<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/cart']" class="nav-link">Sepet: {{cartLength}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


      <!-- Page Content -->
      
        <div class="p-2">
       </div>
  
        <!-- Page Features -->
        <div class="row text-center">
  
          <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of productList" >
            <div class="card">
              <img class="card-img-top" src="{{product.imgUrl}}" alt="">
              <div class="card-body">
                <h2 class="card-title">{{product.name}}</h2>
                <h1 class="card-text">{{product.price}} $</h1>
              </div>
              <div class="card-footer">
                  <a (click)="addCart(product)" href="#" class="btn btn-success">Sepete Ekle</a>
                  <a href="#" class="btn btn-info m-1" [routerLink]="['/detail']">Detay</a> 
              </div>
            </div>
          </div>
  
        </div>
        <!-- /.row -->
  
     